#github action
github_action_ed25519
github_action_ed25519.pub

# Dependencies
node_modules
vendor
/assets/build/

# Environnement
/.env
/.env.local
/.env.*.local

# Symfony
/var/
/public/bundles/
/phpunit.xml

# IDE
/.idea/
/.vscode/
*.swp

# Système
.DS_Store

composer.json
composer.lock
docker-compose.yml
package-lock.json
package.json